* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  padding-top: 80px;
  /* 헤더의 높이만큼 콘텐츠를 아래로 밀어냄 */
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 23px 20px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  /* 헤더 배경을 투명하지 않게 설정 */
  z-index: 1000;
  color: gray;
  text-decoration: none;
  /* 헤더가 다른 콘텐츠 위에 레이어링되도록 설정 */
}

.header > a {
  text-decoration: none;
  color: black;
}


button.menu-toggle {
  border: none;
  color: transparent;
}
.hamburger {
  display: block;
  cursor: pointer;
  /* 추가: 마우스 포인터를 손가락 모양으로 변경 */
  width: 30px;
  /* 버튼의 너비 */
  height: 2px;
  /* 버튼의 두께 */
  background-color: gray;
  /* 버튼의 색상 */
  position: relative;
  transition: all 0.3s ease;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  /* 상단과 하단 줄의 두께 */
  background-color: gray;
  /* 상단과 하단 줄의 색상 */
  transition: all 0.3s ease;
}

.hamburger::before {
  top: -10px;
  left: 0;
  /* 상단 줄의 위치 */
}

.hamburger::after {
  top: 10px;
  left: 0;
  /* 하단 줄의 위치 */
}
.menu-links {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  top: 58px;
  z-index: 1000;
  transition: all 0.5s ease;
}

.menu-links a {
  width: 100%;
  text-align: center;
  color: black;
  padding: 10px 20px;
}

.menu-links a:hover,
.menu-links a:focus {
  background-color: lightgray;
}

.menu-links.show {
  display: flex;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .header {
    padding: 30px 20px;
  }
  .menu-links {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}

@media (min-width: 769px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hamburger,
  .menu-toggle {
    display: none;
    /* 햄버거 버튼을 숨깁니다 */
  }

  .menu-links {
    display: flex;
    /* 메뉴 링크를 표시합니다 */
    position: static;
    /* 절대 위치를 해제합니다 */
    flex-direction: row;
    /* 링크를 행 방향으로 배열합니다 */
    align-items: center;
    /* 링크를 세로 중앙에 정렬합니다 */
    background-color: transparent;
    /* 배경 색을 투명하게 합니다 */
    justify-content: flex-end;
  }
}

/* footer */
footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: gray;
}

footer a:focus,
footer a:hover {
  color: black;
}

.footer__theme-btn {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

/* post navigation */
.post__navigation {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 5rem;
  max-width: 50rem;
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.post__navigation--active {
  color: black;
  font-weight: 600;
}

/* post list, post detail */
.post__list,
.post__detail {
  min-height: 90vh;
  text-align: center;
  max-width: 50rem;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.post__item {
  width: 100%;
  max-width: 50rem;
}

.post__list a {
  color: black;
}

/* post item */

.post__title {
  text-align: left;
  font-weight: bold;
}

/* post profile box */
.post__profile-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
  font-style: italic;
  color: gray;
  font-size: 12px;
}

.post__info {
  display: flex;
  gap: 10px;
}

.post__utils-box {
  display: flex;
  gap: 10px;
}

.post__info-box {
  display: flex;
  gap: 10px;
}

.post__edit a {
  text-decoration: none;
  color: gray;
}

.post__edit a:hover,
.post__edit a:focus,
.post__delete:hover,
.post__delete:focus {
  color: black;
  cursor: pointer;
}

.post__content {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 30px 0;
  text-align: left;
  line-height: 40px;
}

.post__no-post {
  padding: 24px;
  text-align: center;
  color: gray;
}

.post__text--pre-wrap {
  white-space: pre-wrap;
}

/* post detail */

.post__detail .post__title {
  font-size: 36px;
  line-height: 40px;
}

.post__tag {
  color: gray;
  border: 1px solid lightgray;
  background: #f2f2f2;
  padding: 0px 4px;
  border-radius: 10px;
  font-size: 12px;
  font-style: normal;
}

/* profile */

.profile__box {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  margin: 0 auto;
  max-width: 680px;
  text-align: left;
  line-height: 24px;
  justify-content: space-between;
  padding: 20px;
}

.profile__box .flex__box-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.profile__image {
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  margin: 10px 0;
}

.profile__image img {
  width: 100%;
}

.profile__name {
  font-size: 20px;
}

.profile__description {
  margin-top: 20px;
  text-align: left;
}

.profile__email {
  font-size: 20px;
}

.profile__logout {
  color: gray;
  font-size: 14px;
  cursor: pointer;
}

.profile__logout:hover,
.profile__logout:focus {
  color: black;
}

/* carousel */
.carousel {
  margin: 0 auto;
  max-width: 980px;
}

ul.carousel__slides {
  display: block;
  position: relative;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.carousel__slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.carousel__slides input {
  display: none;
}

.carousel__slide-container {
  display: block;
}

.carousel__slide-img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.carousel__slide-img img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel__controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 400px;
  color: #fff;
}

.carousel__controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.carousel__slide-img:hover + .carousel__controls label {
  opacity: 0.5s;
}

.carousel__controls label:hover {
  opacity: 1;
}

.carousel__controls .carousel__slide-prev {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel__controls .carousel__slide-next {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel__dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel__dots .carousel__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .carousel__slide-container .carousel__slide-img {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .carousel__slide-container .carousel__controls label {
  display: block;
}

input#img-1:checked ~ .carousel__dots label#img-dot-1,
input#img-2:checked ~ .carousel__dots label#img-dot-2,
input#img-3:checked ~ .carousel__dots label#img-dot-3 {
  opacity: 1;
}

input:checked + .carousel__slide-container .nav label {
  display: block;
}

/* post form */
.form {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
}

.form input {
  height: 20px;
  padding: 20px 10px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 100%;
  max-width: 680px;
}

.form textarea {
  min-height: 400px;
  height: 20px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 100%;
  max-width: 680px;
}

.form .form__block {
  margin-top: 20px;
  width: 100%;
}

.form label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

.form .form__btn--submit {
  width: 100%;
  height: 48px;
  padding: 10px 10px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 16px;
  background-color: #2563eb;
  color: white;
}

.form .form__btn--submit:hover,
.form .form__btn--submit:focus {
  background-color: #1945a4;
}

/* login form */

.form--lg {
  max-width: 480px;
  min-height: 70vh;
  margin-top: 10vh;
}

.form__title {
  text-align: center;
}

.form__link {
  margin-left: 10px;
  text-decoration: none;
  color: gray;
}

.form__link:hover,
.form__link:focus {
  color: black;
}

.form__error {
  color: red;
}

.form select {
  border: 1px solid lightgray;
  max-width: 680px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 0.3rem;
}

/* loader */
.loader {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid #2563eb;
  border-radius: 50%;
  z-index: 9999;
}

.white {
  transition: all 0.25s linear;
  background-color: white;
}

.dark {
  transition: all 0.25s linear;
  background-color: #1e2937;
}

.dark a,
.dark .form label,
.dark .post__delete,
.dark .profile__logout,
.dark .from__title,
.dark .post__navigation--active,
.dark .post__title,
.dark .post__author-name,
.dark .footer__theme-btn,
.dark .profile__name {
  color: white;
}

.dark a:hover,
.dark a:focus,
.dark .post__text,
.dark .post__text--pre-wrap,
.dark .profile__email,
.dark .post__date,
.dark .form_block {
  color: lightgray;
}

.dark .menu-links a:hover {
  background-color: #2f3a48;
}

.dark .form__error {
  color: #ff6a71;
}

.dark footer,
.dark header,
.dark .menu-links {
  background-color: #111827;
}